:host {
  > mat-toolbar {
    > mat-toolbar-row {
      display: flex;
      justify-content: space-between;
      > h1 {
        font-size: 1.5em;
      }
    }
  }
  > main {
    margin: 2vh 10vw;
  }
}
